
<!-- <div class="text-layout">
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj | json}}</h1>
</div>
<button pButton (click)="mostrarNombre()"
    label="Cambiar Nombre" 
    icon="pi pi-check" 
    iconPos="right"></button>
<p-card [header]="nombre|titlecase"
        subheader="esto es un subheader">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Nisi assumenda sapiente nobis, atque id laborum eaque tempora deleniti recusandae! 
             Dolore veritatis, id accusantium corrupti aliquid doloribus 
             libero doloremque expedita iure.</p>
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>